# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/
playwright-report/
test-results/

# next.js
.next/
out/

# production
build/
dist/

# env
.env
.env*.local

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
